@model List<u20515822_HW03.Controllers.ReportController.PopularBookViewModel>
@{
    DateTime currentDate = DateTime.Now;
}

<!--implementation of vue.js -->
<!DOCTYPE html>
<html>
<head>
    <title>Popular Books</title>
</head>
<body>
    <h1>Popular Books</h1>

    <div id="app">
        <table>
            <tr>
                <th>Book ID</th>
                <th>Book Name</th>
                <th>Borrow Count</th>
                <th>Brought Date</th>
            </tr>
            <tr v-for="book in popularBooks">
                <td>{{ book.BookId }}</td>
                <td>{{ book.BookName }}</td>
                <td>{{ book.BorrowCount }}</td>
                <td>{{ book.BroughtDate }}</td>
            </tr>
        </table>
    </div>

    <!-- Archive Table -->
    <h2>Archive</h2>
    <table>
        <tr>
            <th>Book ID</th>
            <th>Book Name</th>
            <th>Borrow Count</th>
            <th>Brought Date</th>
        </tr>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.BookId</td>
                <td>@book.BookName</td>
                <td>@book.BorrowCount</td>
            </tr>
        }
    </table>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                popularBooks: @Html.Raw(Json.Encode(Model.PopularBooks))
            }
        });
    </script>
</body>
</html>
